//
// Override global variables
//

// Theme colors
$primary:       									#3699FF;
$primary-hover:    									#2f91f7;
$primary-light:    									#E1E9FF;
$primary-inverse:  									#FFFFFF;
